.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; */

}

.swiper-slide img {
    display: block;
    object-fit: cover;
}

.swiper-wrapper {
    transition: 1000ms !important;
    transition-duration: 1000ms !important;
}
